In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=afea45430c653783dc8360575943568f5022cbc8b296dc937c95196a43ad5541
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [ ]:
# Import PySpark and initialize a Spark session
from pyspark.sql import SparkSession

# Initialize SparkSession

spark = SparkSession.builder\
      .appName("PySpark Notebook Example")\
      .getOrCreate()

# Verify the Spark session is working
spark

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("PySpark DataFrame Example") \
    .getOrCreate()

# Sample data representing employees
data = [
    ("John Doe", "Engineering", 75000),
    ("Jane Smith", "Marketing", 60000),
    ("Sam Brown", "Engineering", 80000),
    ("Emily Davis", "HR", 50000),
    ("Michael Johnson", "Marketing", 70000),
]

# Define schema for DataFrame
columns = ["Name", "Department", "Salary"]

# Create DataFrame
df = spark.createDataFrame(data, schema=columns)

# Show the DataFrame
df.show()

+---------------+-----------+------+
|           Name| Department|Salary|
+---------------+-----------+------+
|       John Doe|Engineering| 75000|
|     Jane Smith|  Marketing| 60000|
|      Sam Brown|Engineering| 80000|
|    Emily Davis|         HR| 50000|
|Michael Johnson|  Marketing| 70000|
+---------------+-----------+------+

In [ ]:
avg_salary=df.groupby("Department").avg("Salary")
print("Avg salary")
avg_salary.show()

Avg salary
+-----------+-----------+
| Department|avg(Salary)|
+-----------+-----------+
|Engineering|    77500.0|
|  Marketing|    65000.0|
|         HR|    50000.0|
+-----------+-----------+